body {
  background: black;
  color:rgb(230, 230, 240);
  font-size: 24px;
}

h2 {
  padding: 50px 50px 5px 20px;

}

input {
  font-size: 24px;

}

select {
  font-size: 24px;
}

.requiredCred {
  color: green;

}


.errorCred {
  color: rgb(255, 0, 0);
  content: "prova";

}
.errorCred::after {
  color: red;
  content: " ERROR";

}

.credential {
  color:rgb(230, 230, 240);

}

.my_linkable_button {
  /* background-color: Transparent;
  background-repeat:no-repeat;
  border: none; */
  cursor: pointer;
  /* overflow: hidden;
   outline: none;  */
}

.top_right_button {

  padding: 30px;
  display:block;
  border: none;
  background: none;
  background-color: transparent;
  text-align:center;
  position: absolute;
  top: 10px;
  right: 10px;
  }