<form action="/update-config">
  TJBot NAME:
  <br>
  <input  type="text" name="newname" size="56" placeholder="Nome del TJBot">
  <br>

  TEXT TO SPEECH:
  <br>
  <input  type="text" name="tts_user" size="56" placeholder="Username">
  <input  type="text" name="tts_passwd" size="56" placeholder="Password">
  <br>

  CONVERSATION:
  <br>
  <input  type="text" name="conv_user" size="56" placeholder="Username">
  <input  type="text" name="conv_passwd" size="56" placeholder="Password">
  <br>

  SPEECH TO TEXT:
  <br>
  <input  type="text" name="stt_user" size="56" placeholder="Username">
  <input  type="text" name="stt_passwd" size="56" placeholder="Password">
  <br>

  <input type="submit" value="SAVE">
</form>

