
<div class="affianca">
	<img src="tjbot.jpg" alt="Robot TJBot">
</div>

<div class="affianca">
	<img src="logo_asphi_future.png" alt="Logo ASPHI">
</div>

<div class="affianca">
	<img src="sanpietroincasale.jpg" alt="Logo Istituto Comprensivo SanPietro in Casale">
</div>

<div class="affianca">
	<img src="aldini.jpg" alt="Logo Istituto Aldini Valeriani Sirani">
</div>


<br class="clear" />


<div class="topnav">
  <a class="active" href="tjbot.html">Home</a>
  <a href="tjbot_scuole.html">TJBot nelle scuole</a>
  <a href="run_node_js.php">try TJBOT</a> 
  <!-- <a href="Snap" " target=\"blank\">try Snap</a>Snap -->
  <a href="node_red.php">try Node RED</a>
  <a href="romeo_e_giulietta.html">Romeo e Giulietta</a>  
  <a href="contatti.html">Contatti</a>
  <a href="http://sprintingkiwi.github.io/tjbot-asphi">GUIDA</a>


</div>
