.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  
}

.topnav {
  overflow: hidden;
  background-color: rgb(0, 120, 50);
  font-size: large;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.affianca {
width: 200px;
float: left;
}

.clear {
clear: left;
}

.p {
font-size: large;
}
